@(appNamespace: String)(title: String)(content: Html)

<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>@title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

      <!-- 1. Load libraries -->
      <!-- IE required polyfills, in this exact order -->
    <script src='@routes.Assets.at("lib/es6-shim/es6-shim.min.js")'></script>
    <script src='@routes.Assets.at("lib/systemjs/dist/system-polyfills.js")'></script>
    <script src='@routes.Assets.at("lib/angular2/es6/dev/src/testing/shims_for_IE.js")'></script>

    <script src='@routes.Assets.at("lib/angular2/bundles/angular2-polyfills.js")'></script>
    <script src='@routes.Assets.at("lib/systemjs/dist/system.js")'></script>
    <script src='@routes.Assets.at("lib/rxjs/bundles/Rx.js")'></script>
    <script src='@routes.Assets.at("lib/angular2/bundles/angular2.dev.js")'></script>

    <!-- 2. Configure SystemJS -->
    <script>
      System.config({
        packages: {
          'assets/@appNamespace': {
            format: 'register',
            defaultExtension: 'js'
          }
        }
      });
      System.import('assets/@appNamespace/main')
        .then(null, console.error.bind(console));
    </script>
  </head>

    <!-- 3. Display the application -->
  <body>
    @content
  </body>
</html>
